.card {
  border: 1px solid rgba(220, 108, 108, 0.13);
}

.card-cocktail-index {
  background: white;
  border-radius: 4%;
  margin-bottom: 2em;
  padding: 1em;
  box-shadow: 2px 2px 35px -20px rgba(230,145,230,1);
}

.card-img-index {
  border-radius: 2%;
  box-shadow: 2px 2px 35px -20px rgba(10,9,10,1);
}

.card-title-index {
  color: black;
  padding: 1em;
  text-decoration: none;
}
